@page "/"
@using Volo.Abp.MultiTenancy
@inherits NewJoinerFeedbackWizardComponentBase
@inject AuthenticationStateProvider AuthenticationStateProvider
@using NewJoinerFeedbackWizard.Blazor.Client.Pages

@if (IsLoading)
{
	<div class="d-flex justify-content-center align-items-center" style="height: 100vh;">
		<div class="spinner-border text-primary" role="status">
			<span class="visually-hidden">Loading...</span>
		</div>
	</div>
}
else
{
	<h1> Welcome to the New Joiner Feedback Wizard!</h1>
	<h2>Hello, @CurrentUser.Name!</h2>
	<p>Your Roles: @string.Join(", ", CurrentUser.Roles)</p>
}